<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.45" targetFramework="net452" />
  <package id="AWSSDK.SimpleSystemsManagement" version="3.3.107.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Synapse.Core.Signed" version="1.0.18258.1" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="4.0.0" targetFramework="net461" />
</packages>